<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{/general/head.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="skin-blue fixed-layout">
    <div id="main-wrapper">
        <div th:insert="~{/general/header.html}"></div>
        <div th:insert="~{/general/left-sidebar.html}"></div>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des Dépenses avec Ticket</h4>
                        <div class="table-responsive m-t-40">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Montant</th>
                                        <th>Date Dépense</th>
                                        <th>Ticket ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="depense : ${depenses}">
                                        <td th:text="${depense.idDepense}"></td>
                                        <td th:text="${depense.montant}"></td>
                                        <td th:text="${#dates.format(depense.dateDepense, 'dd/MM/yyyy')}"></td>
                                        <td th:text="${depense.ticketId}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{/general/footer.html}"></div>
    </div>
</body>
</html>
